In [1]:
my_string = 'This is Sparta'

#### Length of String

In [2]:
len(my_string)

14

#### Convert all string into Lower case

In [3]:
my_string.lower()

'this is sparta'

#### Convert all String into Upper

In [4]:
my_string.upper()

'THIS IS SPARTA'

#### Replace String words

In [5]:
my_string.replace('is','are')

'Thare are Sparta'

#### Count words in a String

In [16]:
str_new = 'Sparta Sparata 300 300 300 300 S'

In [17]:
print(str_new)

Sparta Sparata 300 300 300 300 S

In [18]:
str_new.count('300')

4

In [19]:
str_new.count('Sparta')

1

In [21]:
str_new.count('S')

3

#### Finding the Index of Substring

In [22]:
str_new.find('Sparta')

0

In [23]:
str_new.find('S')

0

#### Splitting String

In [24]:
fruit = 'I like Apple, Mango, Orange'

In [25]:
fruit.split(',')

['I like Apple', ' Mango', ' Orange']

In [27]:
fruit.split('e')

['I lik', ' Appl', ', Mango, Orang', '']