In [2]:
import pandas as pd 
import numpy as np

In [3]:
df = pd.DataFrame(data=np.arange(0,20).reshape(5,4),index=['row1','row2','row3','row4','row5'],
                 columns=['Column1','Column2','Column3','Column4'])

In [4]:
df

      Column1  Column2  Column3  Column4
row1        0        1        2        3
row2        4        5        6        7
row3        8        9       10       11
row4       12       13       14       15
row5       16       17       18       19

#### Covnvert our Dataframe into CSV file

In [5]:
df.to_csv('dataframe1.csv')

#### Accessing Dataframe elements

In [6]:
df.loc['row1']

Column1    0
Column2    1
Column3    2
Column4    3
Name: row1, dtype: int32

In [8]:
# Any single row or Column is having Datatype as Series

type(df.loc['row1'])

pandas.core.series.Series

In [11]:
df.iloc[1:3,2:4].values

array([[ 6,  7],
       [10, 11]])

In [13]:
type(df.iloc[1:3,2:4])

pandas.core.frame.DataFrame

In [14]:
# Converting the Dataframe into an array

type(df.iloc[1:3,2:4].values)

numpy.ndarray

In [15]:
# Checking shape of the dataframe

df.shape

(5, 4)

In [16]:
# To chek total Null values present in dataframe

df.isnull().sum()

Column1    0
Column2    0
Column3    0
Column4    0
dtype: int64

In [17]:
# To Check how many times value is repeated in dataframe

df['Column1'].value_counts

<bound method IndexOpsMixin.value_counts of row1     0
row2     4
row3     8
row4    12
row5    16
Name: Column1, dtype: int32>

In [19]:
# To print unique values of Column 1

df['Column1'].unique

<bound method Series.unique of row1     0
row2     4
row3     8
row4    12
row5    16
Name: Column1, dtype: int32>

In [20]:
# when we want to acess the multiple columns of dataframe without using loc or iloc

df[['Column1','Column2']]

      Column1  Column2
row1        0        1
row2        4        5
row3        8        9
row4       12       13
row5       16       17

In [21]:
type(df[['Column1','Column2']])

pandas.core.frame.DataFrame