# Python Crash Course - Part 1

### Data Types in Python

#### 1] Number

Python has a two basic data types of No
    I] Integer
    II] Float

I] Integer

In [1]:
1+1

2

In [2]:
1*3

3

In [3]:
1/2

0.5

In [4]:
1//2

0

In [5]:
2*1

2

In [6]:
2**2

4

In [8]:
2**3

8

In [9]:
2**4

16

In [11]:
2**5

32

In [12]:
2**6

64

In [13]:
2**7

128

In [14]:
2+3*5+5

22

In [15]:
(2+3)*5+(1+2)

28

In [16]:
4%2

0

In [17]:
5%2

1

In [18]:
8%2

0

### Variable Assignments

In [20]:
var = 2

In [21]:
var

2

In [22]:
x=2
y=3

In [23]:
x+y

5

In [24]:
x = x+x

In [25]:
x

4

### Strings in Python

In [26]:
'Single Quote'

'Single Quote'

In [27]:
"Double Quote"

'Double Quote'

In [28]:
"I can't go"

"I can't go"

In [30]:
"I am in 'python' Learning"

"I am in 'python' Learning"

In [31]:
print("I am in 'python' Learning")

I am in 'python' Learning

In [32]:
x = 'Hello'

In [33]:
x

'Hello'

In [34]:
print(x)

Hello

In [35]:
num = 12
name = 'Nakul'

In [36]:
'My number is {} and Name is {}'.format(num,name)

'My number is 12 and Name is Nakul'

In [37]:
x= ' Nakul'
y = 'Mali'

In [40]:
print("My First Name is {} and Sir Name is {}".format(x,y))

My First Name is  Nakul and Sir Name is Mali

In [41]:
x = 'sam'
print('My Name is {y},{y},{y}'.format(y=x))

My Name is sam,sam,sam

In [45]:
print('My name is {},{},{}'.format(x,x,x))

My name is sam,sam,sam

In [48]:
s = 'I am Learnign Python for Data Science and Machine Learning'
print(s)
print(s[0])
print(s[-1])
print(s[:])
print(s[0:5])
print(s[5:10])

I am Learnign Python for Data Science and Machine Learning
I
g
I am Learnign Python for Data Science and Machine Learning
I am
Learn

### Python List

In [49]:
[1,2,3]

[1, 2, 3]

In [51]:
['a','b','c']

['a', 'b', 'c']

In [52]:
my_list = [1,2,3,4,5]

In [53]:
print(my_list)

[1, 2, 3, 4, 5]

In [54]:
my_list.append(6)

In [55]:
my_list

[1, 2, 3, 4, 5, 6]

In [56]:
my_list[0]

1

In [58]:
my_list[1:3]

[2, 3]

In [59]:
my_list[-1]

6

In [60]:
my_list[:4]

[1, 2, 3, 4]

In [61]:
my_list[0] = 10

In [62]:
my_list

[10, 2, 3, 4, 5, 6]

List inside List

In [63]:
list1 = [1,2,3,[4,5],[6,7,8]]

In [64]:
list1

[1, 2, 3, [4, 5], [6, 7, 8]]

In [65]:
list1[0:2]

[1, 2]

In [66]:
list1[3]

[4, 5]

In [68]:
list1[3][0]

4

In [69]:
list1[3][1]

5

In [71]:
list1[3][0:2]

[4, 5]

In [72]:
list1[3][0]=100

In [73]:
list1

[1, 2, 3, [100, 5], [6, 7, 8]]

In [76]:
list2 = [1,2,[3,4,[5,6],7],8]

In [77]:
list2

[1, 2, [3, 4, [5, 6], 7], 8]

In [78]:
list2[2]

[3, 4, [5, 6], 7]

In [79]:
list2[2][2]

[5, 6]

In [80]:
list2[2][2][0]

5

In [81]:
list2[2][2][1]

6