#### Dictonary in Python

In [2]:
d = {'key1':'Value','key2':'Python','key3':123}

In [3]:
d

{'key1': 'Value', 'key2': 'Python', 'key3': 123}

In [4]:
d['key1']

'Value'

In [5]:
d['key2']

'Python'

In [8]:
d['key3']

123

In [9]:
d1 = {'k1':[1,2,3]}

In [10]:
d1

{'k1': [1, 2, 3]}

In [12]:
d1['k1']

[1, 2, 3]

In [13]:
d1['k1'][0]

1

In [14]:
d1['k1'][0:3]

[1, 2, 3]

In [15]:
my_list=d1['k1']

In [16]:
my_list

[1, 2, 3]

In [17]:
my_list[0]

1

In [18]:
my_list[0:3]

[1, 2, 3]

In [21]:
d1['k1'][0]

1

In [22]:
d1['k1']

[1, 2, 3]

#### Dictionary inside dictionary

In [23]:
d2={'k1':{'innerdic':[1,2,3]}}

In [24]:
d2

{'k1': {'innerdic': [1, 2, 3]}}

In [25]:
d2['k1']['innerdic']

[1, 2, 3]

In [26]:
d2['k1']['innerdic'][0]

1

In [27]:
d2['k1']['innerdic'][0:3]

[1, 2, 3]

In [28]:
d2['k1']['innerdic'][0:2]

[1, 2]

#### Boolean in Python

In [29]:
True

True

In [30]:
False

False

In [31]:
my_list

[1, 2, 3]

In [32]:
my_tuple = (1,2,3)

In [33]:
my_tuple

(1, 2, 3)

In [34]:
my_list[0]

1

In [35]:
my_tuple[0]

1

In [36]:
my_list[0]=100

In [37]:
my_list

[100, 2, 3]

In [40]:
#my_tuple[0]=100 its not working because tuples are immutable

#### Set in python

set is collection of unique element it return repeted value only once

In [41]:
s = {1,1,1,2,3,3,2,2,2}

In [42]:
s

{1, 2, 3}

In [43]:
s1 = {1,2,3,1,2,3,4,5}

In [44]:
s1

{1, 2, 3, 4, 5}

In [45]:
set([1,2,3,4,1,2,3,4,5,5,4,3,2,1])

{1, 2, 3, 4, 5}

In [46]:
s2 = {1,2,3}

In [47]:
s2

{1, 2, 3}

In [49]:
s2.add(100)

In [50]:
s2

{1, 2, 3, 100}

In [51]:
s2.remove(100)

In [52]:
s2

{1, 2, 3}

In [54]:
s2.clear()

In [55]:
s2

set()

In [57]:
s2.add(1)

In [58]:
s2

{1}

In [59]:
s2.add(2)

In [60]:
s2.add(3)

In [61]:
s2

{1, 2, 3}

In [63]:
1>2

False

In [64]:
1<2

True

In [65]:
1<=2

True

In [66]:
1>=2

False

In [67]:
1==1

True

In [68]:
1==2

False

In [69]:
1!=3

True

In [70]:
1!=1

False

In [71]:
'hi'=='bye'

False

In [72]:
'hi'=='hi'

True

In [74]:
a='happy'
b='hllo'
print(a[0]==b[0])
print(a[1]==b[1])

True
False

In [75]:
1<2 and 2<3

True

In [76]:
1<2 and 2>3

False

In [77]:
(1<2) or (2>1) or (1==1)

True

#### If else in python

In [78]:
if 1<2:
    print('yep!')

yep!

In [79]:
if True:
    print('Perform Code')

Perform Code

In [80]:
if True:
    x=2+2
x

4

In [81]:
if 1==2:
    print('First')
else:
    print('last')

last

In [82]:
if 1==2:
    print('First')
elif 3==3:
    print('Middel')
else:
    print('Last')

Middel